<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<head>
    <meta charset="UTF-8">
    <title>AnnoInfo</title>
</head>
<body>
    <h2>清单列表</h2>
    <div>
        <ul>
            <li  th:each="report:${reportAll}">
                <span th:text="${report.getID}"></span>-
                <span th:text="${report.getTikcerSymbol()}"></span>-
                <span th:text="${report.getCompanyName()}"></span>-
                <span th:text="${report.getTitle()}"></span>-
                <span th:text="${report.getPartingCotent()}"></span>
            </li>
        </ul>
    </div>
</body>
</html>